#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Ellipse_5 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Ellipse_2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}