#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-3877e25f-9d56-4c77-997a-64a3b6058b0b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}