#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Ellipse_5 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -ms-transform: rotate(0.0deg);
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Ellipse_6 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -ms-transform: rotate(0.0deg);
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}