#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-492432ae-2e0f-4b8b-8e93-aca82c356de7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}