#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 {
  background-color: transparent;
  background-image: none;
  min-width: 360px;
  min-height: 596px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Rectangle_1 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 360px;
  height: 572px;
  background-color: #E5D7AE;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_4 {
  position: absolute;
  top: 441px;
  left: 15px;
  width: 92px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #3C2415;
  text-align: center;
  text-decoration: none;
  font-family: Segoe UI Light,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 300;
  line-height: 12pt;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_1 {
  position: absolute;
  top: 104px;
  left: 0px;
  width: 360px;
  height: 261px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_2 .content {
  left: 0px;
  top: 0px;
  width: 71px;
  height: 90px;
  position: absolute;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_2 {
  position: absolute;
  top: 352px;
  left: 119px;
  width: 71px;
  height: 90px;
  background-color: #3C2415;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_3 .content {
  left: 0px;
  top: 0px;
  width: 71px;
  height: 90px;
  position: absolute;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_3 {
  position: absolute;
  top: 353px;
  left: 202px;
  width: 71px;
  height: 90px;
  background-color: #3C2415;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_4 .content {
  left: 0px;
  top: 0px;
  width: 71px;
  height: 90px;
  position: absolute;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_4 {
  position: absolute;
  top: 354px;
  left: 286px;
  width: 71px;
  height: 90px;
  background-color: #3C2415;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_5 {
  position: absolute;
  top: 442px;
  left: 105px;
  width: 99px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #3C2415;
  text-align: center;
  text-decoration: none;
  font-family: Segoe UI Light,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 300;
  line-height: 10pt;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_6 {
  position: absolute;
  top: 443px;
  left: 189px;
  width: 99px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #3C2415;
  text-align: center;
  text-decoration: none;
  font-family: Segoe UI Light,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 300;
  line-height: 10pt;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_6 .valign {
  vertical-align: middle;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_7 {
  position: absolute;
  top: 445px;
  left: 292px;
  width: 59px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #3C2415;
  text-align: center;
  text-decoration: none;
  font-family: Segoe UI Light,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 300;
  line-height: 10pt;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_7 .valign {
  vertical-align: middle;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_101 {
  position: absolute;
  top: 383px;
  left: 305px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_3 {
  position: absolute;
  top: 377px;
  left: 137px;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_21 {
  position: absolute;
  top: 381px;
  left: 223px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Rectangle_2 {
  position: absolute;
  top: 47px;
  left: 0px;
  width: 360px;
  height: 42px;
  background-color: #3C2415;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_5 .content {
  left: 0px;
  top: 0px;
  width: 71px;
  height: 90px;
  position: absolute;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_5 {
  position: absolute;
  top: 23px;
  left: 103px;
  width: 71px;
  height: 90px;
  background-color: #3C2415;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_4 {
  position: absolute;
  top: 47px;
  left: 119px;
  width: 42px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_8 {
  position: absolute;
  top: 51px;
  left: 1px;
  width: 99px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #E5D7AE;
  text-align: center;
  text-decoration: none;
  font-family: Segoe Script,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 10pt;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_8 .valign {
  vertical-align: middle;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_1 .content {
  left: 0px;
  top: 0px;
  width: 100px;
  height: 127px;
  position: absolute;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_1 {
  position: absolute;
  top: 306px;
  left: 9px;
  width: 100px;
  height: 127px;
  background-color: #3C2415;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_2 {
  position: absolute;
  top: 325px;
  left: 16px;
  width: 85px;
  height: 85px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}