#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_2 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_3 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_4 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_101 {
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_5 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -ms-transform: rotate(0.0deg);
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}