#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-7c28168d-9d94-4c33-b8d7-9697cc1a4351 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}