#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Image_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}