#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab {
  background-color: transparent;
  background-image: none;
  min-width: 360px;
  min-height: 596px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_1 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 360px;
  height: 572px;
  background-color: #E5D7AE;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_2 {
  position: absolute;
  top: 47px;
  left: 0px;
  width: 360px;
  height: 42px;
  background-color: #3C2415;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Ellipse_5 .content {
  left: 0px;
  top: 0px;
  width: 71px;
  height: 90px;
  position: absolute;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Ellipse_5 {
  position: absolute;
  top: 23px;
  left: 103px;
  width: 71px;
  height: 90px;
  background-color: #3C2415;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #shapewrapper-s-Ellipse_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Image_4 {
  position: absolute;
  top: 47px;
  left: 119px;
  width: 42px;
  height: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_8 {
  position: absolute;
  top: 51px;
  left: 1px;
  width: 99px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #E5D7AE;
  text-align: center;
  text-decoration: none;
  font-family: Segoe Script,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 400;
  line-height: 10pt;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_8 .valign {
  vertical-align: middle;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Ellipse_4 .content {
  left: 0px;
  top: 0px;
  width: 71px;
  height: 90px;
  position: absolute;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Ellipse_4 {
  position: absolute;
  top: 25px;
  left: 204px;
  width: 71px;
  height: 90px;
  background-color: #3C2415;
  background-image: none;
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #E5D7AE;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #E5D7AE;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #E5D7AE;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #E5D7AE;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #shapewrapper-s-Ellipse_4 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Image_101 {
  position: absolute;
  top: 54px;
  left: 224px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Image_7 {
  position: absolute;
  top: 53px;
  left: 174px;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_3 {
  position: absolute;
  top: 142px;
  left: 24px;
  width: 313px;
  height: 300px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Button_2 {
  position: absolute;
  top: 446px;
  left: 24px;
  width: 313px;
  height: 61px;
  background-color: #3C2415;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #E5D7AE;
  text-align: center;
  text-decoration: none;
  font-family: Segoe UI Light,Arial;
  font-size: 16pt;
  font-style: normal;
  font-weight: 300;
  line-height: 16pt;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Button_2 .valign {
  vertical-align: middle;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_7 {
  position: absolute;
  top: 156px;
  left: 46px;
  width: 269px;
  height: 56px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #3C2415;
  text-align: center;
  text-decoration: none;
  font-family: Segoe UI Light,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 300;
  line-height: 10pt;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_7 .valign {
  vertical-align: middle;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_9 {
  position: absolute;
  top: 226px;
  left: 31px;
  width: 307px;
  height: 62px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #3C2415;
  text-align: center;
  text-decoration: none;
  font-family: Segoe UI Light,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 300;
  line-height: 10pt;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_9 .valign {
  vertical-align: middle;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_11 {
  position: absolute;
  top: 299px;
  left: 67px;
  width: 228px;
  height: 62px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #3C2415;
  text-align: center;
  text-decoration: none;
  font-family: Segoe UI Light,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 300;
  line-height: 10pt;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_11 .valign {
  vertical-align: middle;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_12 {
  position: absolute;
  top: 372px;
  left: 67px;
  width: 228px;
  height: 62px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #3C2415;
  text-align: center;
  text-decoration: none;
  font-family: Segoe UI Light,Arial;
  font-size: 10pt;
  font-style: normal;
  font-weight: 300;
  line-height: 10pt;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab #s-Label_12 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-7e9a0156-a5ce-406e-b5b7-dd3ce29d35ab > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}