#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 {
  background-color: transparent;
  background-image: none;
  min-width: 360px;
  min-height: 596px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Rectangle_1 {
  position: absolute;
  top: 24px;
  left: 0px;
  width: 360px;
  height: 572px;
  background-color: #E5D7AE;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Rectangle_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_2 {
  position: absolute;
  top: 196px;
  left: 47px;
  width: 265px;
  height: 55px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #3C2415;
  text-align: center;
  text-decoration: none;
  font-family: Segoe Script,Arial;
  font-size: 26pt;
  font-style: normal;
  font-weight: 400;
  line-height: 26pt;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Input_4 {
  position: absolute;
  top: 325px;
  left: 41px;
  padding-left: 14px;
  width: 286px;
  height: 36px;
  background-color: #F3F3F3;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 13pt;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Input_4 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Ellipse_1 .content {
  left: 0px;
  top: 0px;
  width: 92px;
  height: 119px;
  position: absolute;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Ellipse_1 {
  position: absolute;
  top: 69px;
  left: 134px;
  width: 92px;
  height: 119px;
  background-color: #3C2415;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11pt;
  font-family: Roboto-Regular,Arial;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 11pt;
  line-height: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_1 {
  position: absolute;
  top: 103px;
  left: 127px;
  width: 106px;
  height: 55px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Segoe Script,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18pt;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_4 {
  position: absolute;
  top: 293px;
  left: 41px;
  width: 139px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #3C2415;
  text-align: left;
  text-decoration: none;
  font-family: Segoe UI Light,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 300;
  line-height: 12pt;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_5 {
  position: absolute;
  top: 371px;
  left: 41px;
  width: 139px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #3C2415;
  text-align: left;
  text-decoration: none;
  font-family: Segoe UI Light,Arial;
  font-size: 12pt;
  font-style: normal;
  font-weight: 300;
  line-height: 12pt;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_5 .valign {
  vertical-align: middle;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Input_5 {
  position: absolute;
  top: 407px;
  left: 41px;
  padding-left: 14px;
  width: 286px;
  height: 36px;
  background-color: #F3F3F3;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 13pt;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Input_5 input {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 13pt;
  font-style: normal;
  font-weight: 400;
  text-shadow: none;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Button_2 {
  position: absolute;
  top: 484px;
  left: 41px;
  width: 303px;
  height: 50px;
  background-color: #3C2415;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C6C5C6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #E5D7AE;
  text-align: center;
  text-decoration: none;
  font-family: Segoe UI Light,Arial;
  font-size: 18pt;
  font-style: normal;
  font-weight: 300;
  line-height: 18pt;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Button_2 .valign {
  vertical-align: middle;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}