#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8a638ee1-d936-47c6-b4d7-1fa17ca84294 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}