#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Label_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 #s-Label_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-97f322a8-1b85-4550-b8b4-5ec1d9c01d60 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}